<h1 style="background:white;">Editing device</h1>

<%= render 'form' %>

<%= link_to 'Show', @device, :style => "color: white;" , :class => "btn btn-primary" %>
<%= link_to 'Back', devices_path, :style => "color: white;" , :class => "btn btn-warning" %>
