    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="fmc">
      <div class="container valenta">
      <div class="row">
        <div class="col-md-3">
          <h2 class="cat">Device</h2>
          <!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
        </div>
        <div class="col-md-3">
          <h2 class="cat">Material</h2>
          <label class="radio-inline">
            <input ng-model="material" type="radio" name="radioGroup" id="radio1" value="TGVhdGhlcg=="> Leather
          </label><br/>
          <label class="radio-inline">
            <input ng-model="material" type="radio" name="radioGroup" id="radio1" value="Tm9uLUxlYXRoZXI="> Non-Leather
          </label>
       </div>
        <div class="col-md-6">
          <h2 class="cat">Finishing</h2>
          <label class="radio-inline">
            <input type="checkbox" name="radioGroup" id="radio1" value="option1"> Croco Structure
          </label>
          <label class="radio-inline">
            <input type="checkbox" name="radioGroup" id="radio1" value="option1"> Print
          </label><br/>
          <label class="radio-inline">
            <input type="checkbox" name="radioGroup" id="radio1" value="option1"> Snake Structure
          </label>
          <label class="radio-inline">
            <input type="checkbox" name="radioGroup" id="radio1" value="option1"> Other
          </label><br/>
          <label class="radio-inline">
            <input type="checkbox" name="radioGroup" id="radio1" value="option1"> Gloss
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2 class="cat">Colors</h2>
          <p>
          <label class="radio-inline">
            <input type="radio" name="radioGroup" id="radio1" value="option1" class="radio-pos"> 
          </label>
          <label class="radio-inline">
            <input type="radio" name="radioGroup" id="radio1" value="option1" class="radio-pos"> 
          </label>
          <label class="radio-inline">
            <input type="radio" name="radioGroup" id="radio1" value="option1" class="radio-pos"> 
          </label>
          </p>
        </div>
        <div class="col-md-9">
          <h2 class="cat">Product Type</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
      </div>
      </div>
    </div>


     <div class="container valenta">
      <!-- Example row of columns -->
      <div class="row" ng-repeat="case in allCases | filter:material">
          <h2>{{case.name}}</h2>
          <p>{{case.devices}}</p>
          {{case.material}}
          <p><a class="btn btn-default" href="{{case.url}}" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>