// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.multiselect {
    width:20em;
    height:15em;
    border:solid 1px #c0c0c0;
    overflow:auto;
    background: white;
}
 
.multiselect label {
    display:block;
    color: black;
    margin-bottom:0px !important;
}
 
.multiselect-on {
    color:#ffffff !important;
    background-color:#222;
}