.fmc {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}

.fmc h1 {
  line-height: 1;
  color: inherit;
}

.fmc p {
  line-height: 1.4;
}

.container .fmc {
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .fmc {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .fmc {
    padding-right: 60px;
    padding-left: 60px;
  }
  .fmc h1 {
    font-size: 63px;
  }
}

.valenta {
  width: 970px !important;
}

.radio-inline {
  padding-left: 0px !important;
}

.radio-pos {
  margin-left: 0 !important;
}

h2.cat {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}