@font-face {
  font-family: 'DinPro-Bold';
  src: url('DINPro-Bold.eot') format('embedded-opentype');
  src: url('DINPro-Bold.eot?#iefix') format('embedded-opentype'), url('DINPro-Bold.woff') format('woff'), url('DINPro-Bold.ttf') format('truetype'), url('DINPro-Bold.svg#DINPro-Bold') format('svg');
}

@font-face {
  font-family: 'DinPro-Medium';
  src: url('DINPro-Medium.eot') format('embedded-opentype');
  src: url('DINPro-Medium.eot?#iefix') format('embedded-opentype'), url('DINPro-Medium.woff') format('woff'), url('DINPro-Medium.ttf') format('truetype'), url('DINPro-Medium.svg#DINPro-Medium') format('svg');
}

html {
  background: url(/assets/bg.jpg);
}

body {
  padding-top: 88px !important;
  padding-bottom: 0 !important;
  background-color: rgba(238, 238, 238, 0) !important;
}

.fmc {
  padding: 10px;
  font-size: 14px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #000;
}

.fmc h1 {
  line-height: 1;
  color: inherit;
}

.fmc p {
  line-height: 1.4;
}

.container .fmc {
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .fmc h1 {
    font-size: 63px;
  }
}

.valenta {
  width: 970px !important;
}

p.colors label.radio-inline {
  padding-left: 0px !important;
}

.radio-pos {
  margin-left: 0 !important;
}

h5.cat {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 15px;
  font-family: DINPro-Medium;
  color: #fff;
  text-transform: uppercase;
  line-height: 18px;
}

@media (max-width: 992px){
  .cat {
    margin-top: 0px;
  }
  h5.reset{
    margin-top:10px;
  }
  .valenta{
    width:auto !important;
  }
  div.results .col-md-3 {
    float:left;
  }

}

h5.reset {
  text-align: right;
  text-transform: none;
  color: #6e6e6e;
}

div.hdr {
  height: 15px; 
  background-color: #000; 
  width: 100%
}

div.nav {
  height: 72px;
}

.navbar-inner {
    height: 60px;
}

div.filter {
  font-family: DinPro-Medium;
  font-size: 15px;
  color: #6e6e6e;
}

input, button, select, textarea, label {
  font-family: DinPro-Medium !important;
  font-size: 13px !important;
  color: #6e6e6e !important;
}

.navbar-fixed-top {
  background-color: #fff;
}

.navbar-brand img {
  padding-top: 7px;
}

a.navbar-brand:hover {
  background-color: transparent !important;
}

ul.navbar-nav li {
  font-family: "DINPro-Bold" !important;
  font-size: 20px !important;
  color: #000 !important;
  padding-top: 18px;
}

ul.navbar-nav li a {
  color: #000;
}

p.navbar-text {
  padding-top: 21px;
}

p.navbar-text a {
  color: #666;
}

p.navbar-text a:hover {
  background-color: transparent !important;
}

p.navbar-text a:visited {
  text-decoration: none !important;
}

div.casebox {
  height: 225px; width: 175px;
  background: rgba(0,0,0, .7);
  margin: 10px;
  overflow: hidden;
}

div.casebox img {
  height: 175px;
}

div.casebox-inner {
  background-color: #000;
}

div.casebox-inner p {
    font-family: DINPro-Medium;
    padding: 5px;
    margin: 0 0 -8px;
}

div.casebox-inner p.name {
  font-size: 16px;
  color: #fff;
  float: left;
}

div.casebox-inner p.color {
  font-size: 12px;
  color: #8c8c8c;
  vertical-align: bottom;
  padding-top: 8px;
}

div.casebox-inner p.product_type {
  font-size: 12px;
  color: #fff;
}

div.casebox-2 {
  height: 212px; width: 212px;
  background: rgba(0,0,0, .7);
  padding: 10px;
  overflow: hidden;
}

p.hidecurrent {
  display: none;
}

a.btn:visited {
  color: #fff !important;
}

.p-no-margin {
  margin: 0 !important;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #2f2f2f !important;
  color: #fff;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  color: #fff;
}

 .table-hover > tbody > tr:nth-child(even):hover > td ,
 .table-hover > tbody > tr:nth-child(even):hover > th {
  background-color: #f5f5f5;
  color: #000 !important;
 }

.control-label {
  font-size: 15px !important;
  color: #fff !important;
}

.multiselect {
  width: 590px;
  border-radius: 4px;
  padding: 10px;
}

.multiselect label {
  padding: 5px;
}

.multiselect-on {
  border-radius: 4px;
  background-color: #2f2f2f !important;
}

input.col[type='radio'], input.col[type='checkbox']{opacity:0;position:absolute;filter:alpha(opacity=0);margin:5px 0 0 5px;}
input[type='radio']:focus+label, input[type="checkbox"]:focus+label{color:#C30}
input[type="checkbox"]+label, input[type="radio"]+label{background:url('/assets/colortags.png') left top no-repeat;position:relative;margin:0;padding:0 0 0 50px;cursor:pointer;line-height:20px;min-height:20px;display:inline-block;z-index:0;font-size:20px;font-weight:bold}
input[type="checkbox"]+label{background-position:0 0}
input[type="radio"]+label{background-position:0 -21px}
input[type='checkbox']:checked+label{background-position:0 -100px}
input[type='radio']:checked+label{background-position:0 0px}
input[type='checkbox']:disabled+label{background-position:0 -400px;color:#999}
input[type='radio']:disabled+label{background-position:0 -600px;color:#999} 
input[type='checkbox']:disabled:checked+label{background-position:0 -500px;color:#999}
input[type='radio']:disabled:checked+label{background-position:0 -700px;color:#999}
input[id='beige']+label{background-position:0 -22px}
input[id='beige']:checked+label{background-position:0 -1px}
input[id='black']+label{background-position:0 -65px}
input[id='black']:checked+label{background-position:0 -44px}
input[id='blue']+label{background-position:0 -108px}
input[id='blue']:checked+label{background-position:0 -87px}
input[id='brown']+label{background-position:0 -151px}
input[id='brown']:checked+label{background-position:0 -130px}
input[id='cognac']+label{background-position:0 -194px}
input[id='cognac']:checked+label{background-position:0 -173px}
input[id='green']+label{background-position:0 -237px}
input[id='green']:checked+label{background-position:0 -216px}
input[id='grey']+label{background-position:0 -280px}
input[id='grey']:checked+label{background-position:0 -259px}
input[id='orange']+label{background-position:0 -323px}
input[id='orange']:checked+label{background-position:0 -302px}
input[id='pink']+label{background-position:0 -366px}
input[id='pink']:checked+label{background-position:0 -345px}
input[id='purple']+label{background-position:0 -409px}
input[id='purple']:checked+label{background-position:0 -388px}
input[id='red']+label{background-position:0 -452px}
input[id='red']:checked+label{background-position:0 -431px}
input[id='silver']+label{background-position:0 -495px}
input[id='silver']:checked+label{background-position:0 -474px}
input[id='turquoise']+label{background-position:0 -538px}
input[id='turquoise']:checked+label{background-position:0 -517px}
input[id='violet']+label{background-position:0 -581px}
input[id='violet']:checked+label{background-position:0 -560px}
input[id='white']+label{background-position:0 -624px}
input[id='white']:checked+label{background-position:0 -603px}
input[id='yellow']+label{background-position:0 -667px}
input[id='yellow']:checked+label{background-position:0 -646px}
label.col {
   z-index: 10 !important;
   width:25px;
}