@font-face {
  font-family: "DINPro-Medium";
  src: url('fonts/DINPro-Medium.eot') format('embedded-opentype');
}

@font-face {
  font-family: "DINPro-Medium";
  src: url('fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/DINPro-Medium.woff') format('woff'), url('fonts/DINPro-Medium.ttf') format('truetype'), url('fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
}

.fmc {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}

.fmc h1 {
  line-height: 1;
  color: inherit;
}

.fmc p {
  line-height: 1.4;
}

.container .fmc {
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .fmc h1 {
    font-size: 63px;
  }
}

.valenta {
  width: 970px !important;
}

.radio-inline {
  padding-left: 0px !important;
}

.radio-pos {
  margin-left: 0 !important;
}

h5.cat {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 15px;
  font-family: DINPro-Medium;
  text-transform: uppercase;
  line-height: 18px;
}
