@font-face {
  font-family: 'DinPro-Bold';
  src: url('DINPro-Bold.eot') format('embedded-opentype');
  src: url('DINPro-Bold.eot?#iefix') format('embedded-opentype'), url('DINPro-Bold.woff') format('woff'), url('DINPro-Bold.ttf') format('truetype'), url('DINPro-Bold.svg#DINPro-Bold') format('svg');
}

@font-face {
  font-family: 'DinPro-Medium';
  src: url('DINPro-Medium.eot') format('embedded-opentype');
  src: url('DINPro-Medium.eot?#iefix') format('embedded-opentype'), url('DINPro-Medium.woff') format('woff'), url('DINPro-Medium.ttf') format('truetype'), url('DINPro-Medium.svg#DINPro-Medium') format('svg');
}

html {
  background: url(/assets/bg.jpg);
}

body {
  padding-top: 88px !important;
  padding-bottom: 0 !important;
  background-color: rgba(238, 238, 238, 0) !important;
}

.fmc {
  padding: 10px;
  font-size: 14px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #000;
}

.fmc h1 {
  line-height: 1;
  color: inherit;
}

.fmc p {
  line-height: 1.4;
}

.container .fmc {
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .fmc h1 {
    font-size: 63px;
  }
}

.valenta {
  width: 970px !important;
}

p.colors label.radio-inline {
  padding-left: 0px !important;
}

.radio-pos {
  margin-left: 0 !important;
}

h5.cat {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 15px;
  font-family: DINPro-Medium;
  color: #fff;
  text-transform: uppercase;
  line-height: 18px;
}

h5.reset {
  text-align: right;
  text-transform: none;
  color: #6e6e6e;
}

div.hdr {
  height: 15px; 
  background-color: #000; 
  width: 100%
}

div.nav {
  height: 72px;
}

.navbar-inner {
    height: 60px;
}

div.filter {
  font-family: DinPro-Medium;
  font-size: 15px;
  color: #6e6e6e;
}

input, button, select, textarea, label {
  font-family: DinPro-Medium !important;
  font-size: 13px !important;
  color: #6e6e6e !important;
}

.navbar-fixed-top {
  background-color: #fff;
}

.navbar-brand img {
  padding-top: 7px;
}

ul.navbar-nav li {
  font-family: "DINPro-Bold" !important;
  font-size: 20px !important;
  color: #000 !important;
  padding-top: 18px;
}

ul.navbar-nav li a {
  color: #000;
}

p.navbar-text {
  padding-top: 21px;
}

div.casebox {
  height: 225px; width: 175px;
  background: rgba(0,0,0, .7);
  margin: 10px;
  overflow: hidden;
}

div.casebox img {
  height: 175px;
}

div.casebox-inner {
  background-color: #000;
}

div.casebox-inner p {
    font-family: DINPro-Medium;
    padding: 5px;
    margin: 0 0 -8px;
}

div.casebox-inner p.name {
  font-size: 16px;
  color: #fff;
  float: left;
}

div.casebox-inner p.color {
  font-size: 12px;
  color: #8c8c8c;
  vertical-align: bottom;
  padding-top: 8px;
}

div.casebox-inner p.product_type {
  font-size: 12px;
  color: #fff;
}

div.casebox-2 {
  height: 212px; width: 212px;
  background: rgba(0,0,0, .7);
  padding: 10px;
  overflow: hidden;
}

p.hidecurrent {
  display: none;
}

a.btn:visited {
  color: #fff !important;
}

.p-no-margin {
  margin: 0 !important;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #2f2f2f !important;
  color: #fff;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  color: #fff;
}

 .table-hover > tbody > tr:nth-child(even):hover > td ,
 .table-hover > tbody > tr:nth-child(even):hover > th {
  background-color: #f5f5f5;
  color: #000 !important;
 }

.control-label {
  font-size: 15px !important;
  color: #fff !important;
}