<%= form_for(@devicecase) do |f| %>
  <% if @devicecase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@devicecase.errors.count, "error") %> prohibited this devicecase from being saved:</h2>

      <ul>
      <% @devicecase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
