<h1>Listing devicecases</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devicecases.each do |devicecase| %>
      <tr>
        <td><%= link_to 'Show', devicecase %></td>
        <td><%= link_to 'Edit', edit_devicecase_path(devicecase) %></td>
        <td><%= link_to 'Destroy', devicecase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Devicecase', new_devicecase_path %>
